{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
<head> </head>
<body>
    <div class="text-center mt-5">
        <form action="authuser/" method="post" style="max-width:300px;margin:auto;">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">MTS</h1>
            <input type="text" name="fusername" class="form-control mt-3" placeholder="Username">
            <input type="password" name="fpassword" class="form-control mt-3" placeholder="Password">
            <div class="mt-3">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Enter">
            </div>
        </form>
</body>
</html>