{% include "template.html" %}
{% load static %}
<div class="grid">
    <div class="g-col-6 g-col-md-4">
        <div class="container">
            {% for news in news_list %}
            {{ news.title }}
            {{ news.subtitle }}
            {{ news.body|safe }}
            {{ news.publish_date }}
            {{ news.author_id }}
            {% endfor %}
        </div>
    </div>
    <div class="g-col-6 g-col-md-4">
        <img src="{% static 'derevo.jpg' %}" alt="My image"></div>
    <div class="g-col-6 g-col-md-4"></div>
</div>
</body>
</html>
