{% extends "template.html" %}
{% load static %}
{% block title %} Новости {% endblock %}
{% block content %}
        {% for news in news_list %}
        <div class="card mt-4">
            <h4 class="card-header">
                {{ news.title }}
            </h4>
            <div class="card-body">
                <h4 class="card-title">{{ news.subtitle }}</h4>
                <p class="card-text">{{ news.body|safe }}</p>
            </div>
            <div class="card-footer text-muted">
                <p>Дата публикации: {{ news.publish_date }}</p>
                <p>Автор: {{ news.author.get_full_name }}</p>
            </div>
        </div>
        {% endfor %}
{% endblock %}
