{% extends 'template.html' %}
{% block title %} Список офисов {% endblock %}
{% block content %}
  <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Номер офиса</th>
      <th scope="col">Адрес</th>
      <th scope="col">Руководитель</th>
      <th scope="col">Табельный номер</th>
      <th scope="col">Подробнее</th>
    </tr>
  </thead>
  <tbody>
    {% for office in office_list %}
    <tr>
        <td>{{ office.officename }}</td>
        <td>{{ office.officeaddress }}</td>
        {% if office.officeheadinfo %}
          <td><a name="user_id" href='{% url 'user-profile-detail' office.officeheadinfo.id %}'>{{ office.officeheadinfo.get_full_name }}</a></td>
          <td>{{ office.officeheadinfo.get_personnel_number }}</td>
        {% else %}
          <td>-</td>
          <td>-</td>
        {% endif %}
        <td><a href="{{ office.id }}">Перейти</a></td>    
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}