{% extends 'template.html' %}
{% block title %} Добавить офис {% endblock %}
{% block content %}
<h1></h1>
<form action="addrecord/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="officeNameInput"> Номер офиса: </label>
        <input type="text" class="form-control" id="officeNameInput" name="officename">
    </div>
    <div class="form-group">
        <label for="officeAddressInput"> Адрес офиса: </label>
        <input type="text" class="form-control" id="officeAddressInput" name="officeaddress">
    </div>
    <input class="btn btn btn-primary btn-block mt-4" type="submit" value="Submit">
</form>
{% endblock %}